<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Generator</title>
		{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
		{{!-- {{#each burgers}}
            {{#unless devoured}}
                <h1> {{burger_name}} </h1>
            {{/unless}}
        {{/each}} --}}