<a href="/">
   <div id='graveyardBtn'>
      <h3 style='line-height: 65px;'><i class="material-icons">arrow_back</i> Back</h3>
   </div>

   </a>
   </header>
   
   <div id='wholeYard'>
      <div id='gravestone'>
         {{#each burgers}}
            {{#if Devoured}}
               <div class='graveItem'>
                  {{Name}}
               </div>
            {{else}}
            {{/if}}
         {{/each}}
      </div>
      <div id='stoneBottom'>
         <h1>R I P</h1>
         <h1>Here lies {{total}} beloved burgers </h1>
      </div>
   </div>